* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo img {
  width: 150px;
  height: auto;
}

.center-nav {
  display: flex;
}

.search {
  display: flex;
}

.search input {
  min-width: 600px;
  padding: 10px 20px;
  border: 0.5px solid #ccc;
}
.search button {
  border: none;
  padding: 10px 20px;
}

.mic {
  padding: 15px;
  border-radius: 50%;
  background: rgb(240, 239, 239);
  display: grid;
  place-items: center;
  margin-left: 15px;
}
.mic img {
  width: 30px;
}
